*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
body{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-family: "Fraunces";
    min-height: 100vh;
}
img{
    max-width: 100%;
}
picture{
    display: flex;
}
picture :first-child{
    display: none;
}

header{
    position: fixed;
    z-index: 5;
    width: 100%;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(5px) invert(0.1);
}
header aside{
    height: 36px;
}
.menuButton{
    width: 2em;
    aspect-ratio: 1/1;
    display: block;
    background: url("../images/menu-1-svgrepo-com.svg");
    background-position: center;
    background-size: contain;
    filter: brightness(0) invert();
    -webkit-filter: brightness(0) invert();
}
#openMenu{
    width: 0;
    height: 0;
}
.menu{
    display: none;
}
#openMenu:checked ~ .menu{
    margin: 0 1.5em;
    padding: 2em;
    position: absolute;
    left: 0;
    right: 0;
    top: 5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    background-color: #fff;
    font-family: "Barlow";
    font-weight: 600;
}
#openMenu:checked ~ .menu::before{
    content: "";
    display: block;
    width: 40px;
    aspect-ratio: 1/1;
    position: absolute;
    top: -39px;
    right: 0;
    background-color: inherit;
    clip-path: polygon(0 100%, 100% 0, 100% 100%);
}
#openMenu:checked ~ .menu a{
    color: hsl(213, 9%, 39%);
}
#openMenu:checked ~ .menu li:last-of-type a{
    width: 100%;
    height: 100%;
    padding: 1em 2em;
    display: block;
    text-align: center;
    background-color: hsl(51, 100%, 49%);
    color: black;
    font-family: "Fraunces";
}  

.title{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #3DBEFF;
}
h1{
    position: absolute;
    top: 25%;
    color: white;
    font-size: 2.5em;
    letter-spacing: 5px;
    z-index: 1;
}
.title > img{
    width: 3%;
    min-width: 25px;
    bottom: 40%;
    position: absolute;
}
.title picture{
    margin-bottom: -5px;
}

.importantInfoSection section{
    display: grid;
}
.importantInfoSection section:first-of-type picture{
    background: url("../images/desktop/image-transform.jpg");
    background-position: center;
    background-size: cover;
}
.importantInfoSection section:last-of-type picture{
    background: url("../images/desktop/image-stand-out.jpg");
    background-position: center;
    background-size: cover;
}
.importantInfoSection .info{
    aspect-ratio: 1/1;
    font-size: 4.5vw;
    padding: 3em 2em;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.importantInfoSection .info h2{
    font-weight: 900;
}
.importantInfoSection .info p{
    margin: 2em 0;
    font-family: "Barlow";
    font-weight: 600;
    color: hsl(213, 9%, 39%);
}
.importantInfoSection .info a{
    padding: 0 10px;
    position: relative;
    color: black;
    font-weight: 900;
}
.importantInfoSection .info a::after{
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 100px;
    background-color: hsla(51, 100%, 49%, 0.25);

    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}
.importantInfoSection .info a:hover::after{
    background-color: hsla(51, 100%, 49%);
}
.importantInfoSection section:nth-of-type(2) .info a:hover::after{
    background-color: hsla(7, 99%, 70%);
}
.importantInfoSection section:nth-of-type(2) .info a::after{
    background-color: hsla(7, 99%, 70%, 0.25);
}

.aditionalInfo{
    display: grid;
}
.aditionalInfo picture{
    display: flex;
}
.aditionalInfo picture img{
    width: 100%;
}
.aditionalInfo section{
    position: relative;
    text-align: center;
    color: hsl(167, 40%, 24%);
}
.aditionalInfo > :last-child{
    color: hsl(198, 62%, 26%);
}
.aditionalInfo .textContainer{
    position: absolute;
    z-index: 2;
    bottom: 15%;
    left: 5%; right: 5%;
}
h3{
    font-weight: 900;
    font-size: 1.5em;
}
.aditionalInfo section p, h3{
    left: 2.5em; right: 2.5em;
}
.aditionalInfo section p{
    margin: 1em 0;
    font-family: "Barlow";
    font-weight: 600;
}

.testimonials{
    padding: 2em 0;
    text-align: center;
}
.testimonials h2{
    color: hsl(232, 10%, 55%);
    font-size: 1.125em;
    letter-spacing: 5px;
}
.testimonials section{
    padding: 1.5em;
    display: grid;
    gap: 2.5em;
}
.testimonial{
    display: flex;
    gap: 1.5em;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-family: "Barlow";
}
.testimonial img{
    height: 3.5em;
    aspect-ratio: 1/1
}
.testimonial blockquote{
    color: hsl(213, 9%, 39%);
    font-weight: 600;
}
.testimonial p{
    display: flex;
    gap: 10px;
    flex-direction: column;
    font-size: 0.75em;
    font-weight: 600;
    color: hsl(232, 10%, 55%);
}
.testimonial p strong{
    font-size: 1.5em;
    color: black;
    font-weight: 900;
    font-family: "Fraunces";
}

.images{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.images picture img{
    height: 100%;
}

footer{
    padding: 2em 1em;
    display: flex;
    gap: 2em;
    flex-direction: column;
    align-items: center;
    background-color: hsl(167, 44%, 70%);
}
footer > img{
    height: 1.75em;
}
footer aside{
    max-width: 400px;
    width: 100%;
}
footer aside ul, footer ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer aside ul a{
    font-family: "Barlow";
    font-weight: 600;
    color: hsl(167, 40%, 24%);
}
footer aside ul a:hover{
    color: white;
}
footer> ul{
    margin-top: 2em;
    gap: 20px;
}
footer> ul a:hover{
    filter: brightness(100);
    -webkit-filter: brightness(100);
}


.testimonial img, #openMenu:checked ~ .menu li:last-of-type a{
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}
.attribution { font-size: 11px; text-align: center; position: fixed;
bottom: 0; right: 0; left: 0; font-family: "Barlow"; backdrop-filter: blur(3px);}
.attribution a { color: hsl(228, 45%, 44%); }



@media only screen and (min-width:721px) {
    picture :first-child{
        display: block;
    }
    picture :last-child{
        display: none;
    }
    header{
        text-shadow: 0 3px 5px black;
    }
    #logo{
        filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5));
        -webkit-filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5));
}
    header aside{
        display: flex;
        align-items: center;
    }
    .menuButton{
        display: none;
    }
    .menu{
        display: flex;
        gap: 2rem;
        font-size: .75em;
    }
    .menu a{
        color: white;
        font-family: "Barlow";
    }
    .menu li:last-of-type a{
        text-shadow: none;
    }
    .menu li:last-of-type a{
        color: hsl(212, 27%, 19%);
        background-color: white;
        font-family: "Fraunces";
        font-weight: 700;
        padding: 1em;
        border-radius: 100px;

        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -ms-border-radius: 100px;
        -o-border-radius: 100px;
    }
    .menu li:last-of-type a:hover{
        color: white;
        background-color: hsla(0, 0%, 100%, 0.25);
    }

    .importantInfoSection section{
        grid-template-columns: 1fr 1fr;
    }
    .importantInfoSection .info a{
        align-self: flex-start;
    }
    .importantInfoSection .info{
        padding: 20%;
        font-size: 1.7vw;
        text-align: left;
    }
    .importantInfoSection section:first-of-type picture{
        grid-column: 2/3
    }
    .importantInfoSection section:first-of-type .info{
        grid-row: 1/2;
    }

    .aditionalInfo{
        grid-template-columns: 1fr 1fr;
    }
    .aditionalInfo .textContainer{
        bottom: 0;
        left: 10%; right: 10%;
        top: 60%;
        font-size: 2vw;
    }
}
@media only screen and (min-width:1023px) {
    .testimonials{
        padding: 10% 5%;
    }
    .testimonials section{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .images{
        grid-template-columns: repeat(4, 1fr);
    }
}